<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <style>
        select {
            width: 300px; /* Ширина списка в пикселах */
        }
    </style>

    <script>


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


    </script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/django-ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/main.js"></script>

</head>
<body>

<select id="selectAccountsList">
    <option selected value="-1">Выберите счет для перевода</option>
</select>

<hr>

<input id="inn" type="text" pattern="\d*" placeholder="инн"/>
<input id="search" type="button" value="Найти пользователей по инн">

<hr>


<b> Перевод с: </b>
<br>
<div id="from"></div>
<input id="sum" type="number" placeholder="сумма для перевода">
<br>
<b> Кому переводим: </b>

<ul id="resSearch">

</ul>
<br>
<input id="moveMoneyBtn" type="button" value="Перевести">

<br>

<h1>
    <div id="result"></div>
</h1>
</div>

</body>
</html>