<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js"></script>
    <script src="{{ STATIC_URL }} /static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/django-ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/main.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }} /static/jquery-ui-1.12.1.custom/jquery-ui.css">

    <style>
        #accountsList {
            width: 500px; /* Ширина списка в пикселах */
        }
    </style>

</head>
<body>

<div class="ui-widget">
    <label for="accountsList">Счет для списания: </label>
    <input id="accountsList" placeholder="Начние вводить имя/фамилию/инн">
</div>

<input id="inn" type="text" pattern="\d*" placeholder="инн"/>
<input id="search" type="button" value="Найти пользователей по инн">

<input id="sum" type="number" placeholder="сумма для перевода">
<br>
<b> Кому переводим: </b>

<ul id="resSearch">

</ul>


<input id="moveMoneyBtn" type="button" value="Перевести">

<br>

<h1>
    <div id="result"></div>
</h1>


</body>
</html>