<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <style>
        select {
            width: 300px; /* Ширина списка в пикселах */
        }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js">
    </script>
</head>
<body>
{% csrf_token %}
<select id="accounts">
    <option selected value="-1">Выберите счет для перевода</option>
</select>

<hr>

<input id="inn" type="text" pattern="\d*" placeholder="инн"/>
<input id="search" type="button" value="Найти пользователей по инн">

<hr>


<b> Перевод с: </b>
<br>
<div id="from"></div>
<input id="sum" type="number" placeholder="сумма для перевода">
<br>
<b> Кому переводим: </b>

<ul id="resSearch">

</ul>
<br>
<input id="moveMoneyBtn" type="button" value="Перевести">


<script>

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    var accountFrom;
    var accountsTo;

    $("#moveMoneyBtn").click(function () {

        var dataSend = {};

        var sum = $("#sum").val();

        dataSend.accountFrom = accountFrom;
        dataSend.accountsTo = accountsTo;
        dataSend.sum = sum;

        console.log(dataSend);

        $.ajax({
            url: 'moveMoney',
            dataType: "json",
            data: JSON.stringify(dataSend),
            method: 'POST',
            success: function (data, textStatus) {
                console.log(data);
            }
        });
    });

    $("#accounts").click(function () {
        accountFrom = $("#accounts option:selected").val();
        console.log("accountFrom = " + accountFrom);
        $("#from").text($("#accounts option:selected").text());
    });

    function getStrByUserModel(value) {
        return value.fields.first_name + " " + value.fields.last_name + " " + "(инн = " + value.fields.inn + ")" + " (баланс = " + value.fields.balance + ")";
    }

    $("#search").click(function () {

        inn = $("#inn").val();

        $.ajax({
            url: 'getAccountsByInn/' + inn,
            dataType: "json",
            success: function (data, textStatus) {
                accountsTo = [];
                $("#resSearch").text('');
                $.each(data, function (key, value) {
                    $("#resSearch").append($('<li>').append(getStrByUserModel(value)));
                    accountsTo.push(value.pk);
                });

                console.log("accountsTo = " + accountsTo);
            }
        });
    });

    $.ajax({
        url: 'getAccounts',             // указываем URL и
        dataType: "json",                     // тип загружаемых данных
        success: function (data, textStatus) { // вешаем свой обработчик на функцию success
            console.log(data);

            $.each(data, function (key, value) {
                $('#accounts').append($('<option>', {
                    value: value.pk,
                    text: getStrByUserModel(value)
                }));
            });
        }
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>

</body>
</html>